*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
}
.top-background{
    background: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.5)),url("images/background_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.menu{
    font-size: 1.5rem;
    display: flex;
    width: 100vw;
    height: 5vh;
    position: fixed;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    box-shadow: 0 3px grey;
    transition: .5;
    background-color: rgba(0,0,0,0.3);
}
.heading{
    cursor: pointer;
    font-size: 2rem;
}
nav{
    padding: 0 20px;
}
nav li{
    display: inline-block;
    position: relative;
    padding-right: 45px;
}
nav li a{
    color: black;
}
a:hover{
    border-bottom: 3px solid black;
    color: white;
}
.title{
    text-align: center;
    font-size: 50px;
    padding-top: 300px;
    color: rgba(0,0,0,0.5);
    letter-spacing: 10px;
    text-shadow: 0 0 4px #0f4c75;
}
.description{
    font-size: 30px;
    margin: 10px;
}
.page-blocks{
    text-align: center;
    margin-top: 50px;
}
.design-title{
    letter-spacing: 10px;
    color: #0f4c75;
    margin: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.design img{
    height: 400px;
    max-width: 95%;
    margin: 15px;
}
.btn{
    margin-top: 20px;
    height: 60px;
    width: 200px;
    background: transparent;
    border: 2px solid #0f4c75 ;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.2rem;
    cursor: pointer;
}
.btn:hover{
    background-color: #0f4c75;
    color: white;
    transition: all 0.5s;
    outline: none;
    border: none;
}
.why-us-heading{
    margin: 50px;
    text-align: center;
    color: rgba(0,0,0,0.5);
    letter-spacing: 10px;
    text-shadow: 0 0 4px #0f4c75;
}
.flex-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}
.why-us-flex-item{
    background: #0f4c75;
    color: white;
    width: 20%;
    height: 20%;
    padding: 40px;
    margin: 20px;
    line-height: 30px;
}
.block-label{
    font-variant: small-caps;
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 5px;
}
.block-description{
    text-align: justify;
    font-size: 20px;
}
.block-number{
    font-weight: bold;
    font-size: 50px;
    padding: 20px;
}
.appointment-form,input,textarea{
    text-align: center;
    display: flex;
    padding: 20px;
    width: 400px;
}
.appointment-heading{
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
}
.appointment-heading img{
    height: 50%;
    width: 50%;
}
.appointment-heading h2{
    margin: -20px 0px 20px 0px; 
    text-align: center;
    letter-spacing: 2px;
}