@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    text-decoration: none;
    list-style: none;
}
body{
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    text-align: center;
}
.top-background{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.menu{
    font-size: 1.5rem;
    display: flex;
    width: 100vw;
    height: 5vh;
    position: fixed;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    box-shadow: 0 3px grey;
    transition: .5;
    background-color: rgba(0,0,0,0.3);
}
.heading{
    cursor: pointer;
    font-size: 2rem;
    color: #0f4c75;
}
nav{
    padding: 0 20px;
}
nav li{
    display: inline-block;
    position: relative;
    padding-right: 45px;
}
nav li a{
    color: black;
}
a:hover{
    border-bottom: 3px solid black;
    color: #0f4c75;
    font-size: larger;
}
.block{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10%;
}
.title{
    text-align: left;
    font-size: 50px;
    padding-top: 170px;
    color: rgba(0,0,0,0.5);
    letter-spacing: 10px;
    text-shadow: 1px 1px 2px #0f4c75;
    font-weight: bolder;
}
.description{
    font-size: 30px;
    margin: 10px;
}
.page-blocks{
    text-align: center;
    margin-top: 50px;
}
.design-title{
    letter-spacing: 10px;
    color: #0f4c75;
    margin: 3rem;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 4px #0f4c75;
    text-align: center;
    margin-top: 50px;
}
.design img{
    height: 400px;
    max-width: 95%;
    margin: 15px;
}
.btn{
    margin-top: 20px;
    height: 60px;
    width: 200px;
    background: transparent;
    border: 2px solid #0f4c75 ;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.2rem;
    cursor: pointer;
}
.btn:hover{
    background-color: #0f4c75;
    color: white;
    transition: all 0.5s;
    outline: none;
    border: none;
}
.about{
    display: flex;
}
.about img{
    height: 250px;
    max-width: 95%;
}
.about-description{
    margin: 2rem;
    padding: 20px;
    text-align: justify;
}
.about-description i{
    font-size: 8px;
}
.about-description h1, ul{
    
    padding: 10px 0 10px 100px;
  
}
.contact-form,input,textarea{
    text-align: center;
    display: flex;
    padding: 20px;
    width: 400px;
}
.contact-heading{
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
}
.contact-heading img{
    height: 50%;
    width: 50%;
}
.contact-heading h2{
    margin: -20px 0px 20px 0px; 
    text-align: center;
    letter-spacing: 2px;
}
.icons i{
    color: black;
    font-size: 30px;
    padding: 10px;
}
.icons i:hover{
    transform: translateY(-10px);
    cursor: pointer;
}
.footer-message{
    background-color: black;
    color: whitesmoke;
    height: 40px;  
}
